* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #fff1b5;
    --main-text-color: #001b4a;
    --nav-text-color: #001b4a;
    --water-color: #00023d;
    --overlay-text-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    overflow: hidden;
    overflow-x: hidden;
}

.anchor {
    display: block;
    position: relative;
    top: calc(-1 * clamp(1rem, calc(4vw + 0.1rem), 4rem) - 1.5em - 2 * min(10px, 1vw));
    visibility: hidden;
}

header {
    text-align: center;
    padding: 1em 0;
}

header img {
    width: clamp(0px, 90vw, 60rem);
}

nav {
    background-color: var(--main-bg-color);
    position: sticky;
    top: calc(-2 * min(10px, 1vw) - 0.5em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5em;
    z-index: 5;
}

nav #links {
    display: flex;
    justify-content: center;
}

nav #links a {
    flex-grow: 1;
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: clamp(1rem, calc(4vw + 0.1rem), 4rem);
    line-height: clamp(1rem, calc(4vw + 0.1rem), 4rem);

    display: inline-block;
    padding: 0.2em 0.2em 0.1em 0.2em;
    text-align: center;
}

.cara {
    height: min(10px, 1vw);
    width: 100vw;
}


h1 {
    font-size: clamp(1.8rem, 7vw + 1rem, 5rem);
    margin: 0.2em 0;
}

main {
    min-height: 70vh;
    padding: calc(min(10px, 1vw) + 0.5em) 0;
    overflow-y: auto;
}

section h2 {
    margin-bottom: 0.5em;
    margin-top: 1rem;

    font-size: clamp(1.3rem, 1.35vw + 1rem, 3rem);

    border-bottom: 2px solid var(--main-text-color);
    padding-bottom: 0.2em;
}

section {
    color: var(--main-text-color);
    width: calc(clamp(0px, 90vw, 70rem));
    margin-left: auto;
    margin-right: auto;
}

#sec_kontakty {
    min-height: 100vh;
}

#kontakty_horizontal {
    display: flex;
    gap: 4em;
}

#kontakty_vertical {
    display: flex;
    flex-direction: column;
}

section p {
    /*font-size: clamp(1rem, 1.5vw + 0.5rem, 2rem);*/
    font-size: min(1.3rem, 4vw);
    line-height: 1.4em;
    margin-bottom: 1em;
    text-align: justify;
}

#overlay {
    color: var(--overlay-text-color);

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: top 0.1s;
    z-index: 10;

    display: flex;
    flex-direction: column;
}

#overlay .voda_gif {
    margin-bottom: 0;
    pointer-events: none;
    transform: translateY(10px);
    transform-origin: bottom;
    transition: transform 0.5s;
}

#overlay_content {
    margin-top: 0;
    padding-top: 10px;
    height: 100%;
    background-color: var(--water-color);
    position: relative;
}

#intro {
    z-index: 1;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#fish_container {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fish {
    position: absolute;
    pointer-events: none;
}

@media (orientation: portrait) {
    #jako_text {
        margin-top: calc(clamp(0px, 20vh, 60rem) * 0.2);
    }

}

#jako_text {
    font-weight: 600;
}

#jako_text table {
    margin: 0 auto;
    font-size: clamp(1rem, 4vw + 0.1rem, 3rem);
    text-align: left;
    text-transform: uppercase;

    animation: slide 20s linear infinite;
    animation-delay: -5s;
}

#jako_text th,
#jako_text td {
    padding: 0.2em 0.5em;
    text-wrap: nowrap;
}

#jako_text tr :nth-child(1) {
    width: 40vw;
    text-align: right;
}

#jako_text tr :nth-child(3) {
    width: 40vw;
    text-align: left;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@media (orientation: portrait) {
    #overlay {
        top: calc(clamp(0px, 90vw, 60rem) * 0.6);
    }

    #fish_container {
        height: calc(100vh - (clamp(0px, 90vw, 60rem) * 0.6));
    }
}

/*
#jako_text tr :nth-child(odd) {
    color: var(--main-bg-color);
}*/

.clickable {
    cursor: pointer;
}

#harmonogram_days {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#harmonogram_days h3 {
    font-size: clamp(1.2rem, 1.5vw + 0.5rem, 2.5rem);
    margin-bottom: 0.5em;
}

.day_table {
    z-index: 2;
}

#harmonogram_days table {
    width: 100%;
    table-layout: fixed;
}

#harmonogram_days th,
#harmonogram_days td {
    text-align: center;
    vertical-align: top;
    width: calc((100% - 4em) / 6);
}

#harmonogram_days p {
    text-align: center;
    margin-bottom: 0;
}

#harmonogram_days .presenter {
    font-weight: 600;
    font-size: larger;
}

#harmonogram_days .lecture {
    font-size: medium;
}

#harmonogram_days th {
    font-size: x-large;
}

#harmonogram_days th:nth-child(1),
#harmonogram_days td:nth-child(1) {
    font-size: x-large;
    width: 4em;
}

@media screen and (max-width: 900px) {
    #harmonogram_days tr {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #harmonogram_days td:nth-child(1) {
        border-bottom: 2px solid var(--main-text-color);
        margin-top: 2rem;
    }


    #harmonogram_days td {
        width: 100%;
    }


    #harmonogram_days table tr:first-child {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #kontakty_horizontal {
        flex-direction: column;
    }
}
#popup {
    /* text still get outside of the bottom of the screen*/
    margin-left: clamp(0.25em, 4vw + 0.25em, 1.5em);
    margin-right: clamp(0.25em, 4vw + 0.25em, 1.5em);
    text-align: justify;
    margin-bottom: clamp(0.25rem, 4vw + 0.25em, 0.5em);

}

#popup_title {
    font-size: clamp(1rem, 3vw + 1rem, 2.5rem);
    font-weight: 600;
}

#popup_room {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 2rem);
}

#popup_time {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 2rem);
}

#popup_presenter {
    font-size: clamp(1rem, 3vw + 1rem, 2.5rem);
    font-weight: 600;
}

#popup_annotation {
    font-size: clamp(1rem, 2.5vw + 0.5rem, 1.75rem);
}

#popup_profile { 
    font-size: clamp(1rem, 2.5vw + 0.5rem, 1.75rem);
}
